:root {
  --insur-gray: #778083;
  --insur-gray-rgb: 119, 128, 131;
  --insur-base: #2cbc63;
  --insur-base-rgb: 44, 188, 99;
  --insur-black: #023a51;
  --insur-black-rgb: 2, 58, 81;
  --insur-primary: #e7f0f3;
  --insur-primary-rgb: 231, 240, 243;

}