:root {
  --insur-gray: #797979;
  --insur-gray-rgb: 121, 121, 121;
  --insur-base: #ff494a;
  --insur-base-rgb: 255, 73, 74;
  --insur-black: #191c1e;
  --insur-black-rgb: 25, 28, 30;
  --insur-primary: #f3f3f3;
  --insur-primary-rgb: 243, 243, 243;

}